<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Employee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="supp">
    <ion-card-header>
      <ion-card-subtitle>Employee Table</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>

        <table class="table m-0">
          <thead>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Street</th>
            <th>City</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Kayode</td>
            <td>Daniel</td>
            <!-- <span class="badge badge-success">Shipped</span> -->
            <td>male</td>
            <td>fola Agoro</td>
            <td>Yaba</td>
            </tr>
        </tbody>
        </table>
        
   
    
    </ion-card-content>
  </ion-card>
<ion-button type="button" color="secondary">Edit</ion-button>
<ion-button type="button" color="danger">Delete</ion-button> 
  
</ion-content>
