<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sales">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Sales Orders</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="employee">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Employee</ion-label>
    </ion-tab-button>
      <ion-tab-button tab="more">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
