<ion-header [translucent]="true">
  <ion-toolbar style="background-color: rgb(6, 70, 189);">
    <span class="plus2">+</span>
    <ion-title style="text-align: center;">
      Sales Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="never"></ion-searchbar>
 
  <div class="oops">
    <ion-icon name="sad-outline" style="font-size: xx-large;
    min-height: -webkit-fill-available;
    margin-left: 60px;"></ion-icon>

  </div>
  <span style="margin-left: 110px;
  position: relative;
  top: 90px;">Oops! No results found</span>
  <ion-button style=" margin-top: 150px;
  margin-left: 130px;"><span class="plus">+</span>Add New</ion-button>
</ion-content>
