ion-content ion-toolbar {
    --background: translucent;
   
  }
.plus2{
    color: rgb(0, 0, 0);
    font-size: 15px;
    position: relative;
    left: 330px;
  }
  .topp{
    background-color: dodgerblue;
  }
  .top{
    margin-top: 20px;
  }
  .middle{
      margin-top: 15px;
      margin-right: 5px;
  }
  .bottom{
    margin-top: 0px;
  }