ion-content ion-toolbar {
  --background: translucent;
}
ion-icon.ion1 {
  font-size: 30px;
  border-radius: 25px;
  background: #4854e0;
  padding: 5px;
  color: white;
  // width: 200px;
  // height: 150px;
}
ion-icon.ion2 {
  font-size: 30px;
  border-radius: 25px;
  background: #eb445a;
  padding: 5px;
  color: white;
  // width: 200px;
  // height: 150px;
}
ion-icon.ion3 {
  font-size: 30px;
  border-radius: 25px;
  background: #73AD21;
  padding: 5px;
  color: white;
  // width: 200px;
  // height: 150px;
}
ion-icon.ion4 {
  font-size: 30px;
  border-radius: 25px;
  background: #92949c;
  padding: 5px;
  color: white;
  // width: 200px;
  // height: 150px;
}
ion-text h1{
 margin-left: 10px;
}

ion-card.cardy{
  width: 150px;
  float: left;
  display: block;
}
ion-card.cardy2{
  width: 150px;
  float: left;
}
ion-icon.stop1 {

  color: rgb(155, 24, 241);
  
}
ion-icon.stop2 {

  color: rgba(82, 80, 194, 0.178);
  
}
ion-card-content.txt4{
  font-size: 15px;
  color: black;
}